<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-md-4 d-flex justify-content-center mb-2">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">AI Chat</h5>
          <p class="card-text">Analyze data, write code, summarize papers, and more...</p>
          <%= link_to "AI Chat", ai_chats_path, class: "d-inline-flex align-items-center btn btn-danger btn-lg px-4 rounded-pill" %>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex justify-content-center mb-2">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">AI Image</h5>
          <p class="card-text">Recognizes what image you submit...</p>
          <%= link_to "AI Image", ai_chats_path, class: "d-inline-flex align-items-center btn btn-danger btn-lg px-4 rounded-pill" %>
        </div>
      </div>
    </div>
  </div>
</div>
